.view {
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    min-height: 500px;
    flex-direction: column;
}

.view_header {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    height: 50px;
    border: 1px solid;
}

.view_header span {
    font-weight: 500;
    font-size: 16px;
}

.view_text {
    background-color: #00afef;
    padding: 0 15px;
}

.view_text span {
    background-color: #00afef;
    color: white;
}

.view_table {
    margin: 10px 0 10px 0;
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_table_category {
    padding: 0 5px;
    border: 1px solid red;
    width: 90px;
    height: 45px;
    background-color: #4f81bc;
    margin: 0 1px;
}

.view_table_category p {
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.view_table_items {
    width: 100%;
    height: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 13px 0 0;
}

.view_items {
    padding: 0 5px;
    border: 1px solid red;
    width: 90px;
    height: 25px;
    background-color: #d0d7e8;
    margin: 0 1px;
}
.view_details {
    margin: 5px 0 0 0;
    width: 67%;
}
.view_details_button button {
    padding: 2px 20px;
    background-color: #00afef;
    color: white;
    border: none;
}

